@import url('https://fonts.googleapis.com/css?family=ABeeZee|Roboto|Comfortaa|Alegreya Sans SC|Barlow|Albert Sans|Acme|Oxygen Mono');
@import url('https://fonts.cdnfonts.com/css/whitney-2');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');
@import url('./themes.css');

:root {
  --primary: #4790D9;
  --primary-hover: #3a80c2;
  --secondary: #FFAB00;
  --secondary-hover: #faaf02;
  /* For Gradient thing */
  --g1: rgb(69, 149, 225);
  --g2: rgb(255, 171, 0);
  /* Checkbox Sliders*/
  --slider-width: 5rem;
  
  --text-main: hsl(250, 0%, 80%);
  --text-dark: hsl(250, 0%, 100%);
  --text-gray: hsl(250, 0%, 50%);
}
body {
  --theme-hue: 250;
  --theme-sat: 0%;

  --bg-hover: hsl(var(--theme-hue), var(--theme-sat), 20%);
  --bg-body: hsl(var(--theme-hue), var(--theme-sat), 15%);
  --bg-sidebar: hsl(var(--theme-hue), var(--theme-sat), 10%);

  --bg-input: hsl(var(--theme-hue), var(--theme-sat), 9%);
  --bd-input: hsl(var(--theme-hue), var(--theme-sat), 19%);

  --bg-drop: hsl(var(--theme-hue), var(--theme-sat), 7%);
  --hr-drop: hsl(var(--theme-hue), var(--theme-sat), 20%);
  
  --bg-modal: hsl(var(--theme-hue), var(--theme-sat), 6%);
  --bd-modal: hsl(var(--theme-hue), var(--theme-sat), 16%);
  --sh-modal: hsl(var(--theme-hue), var(--theme-sat), 0%);
}
html {
  font-size: 62.5%;
  background: var(--bg-body);
}
* {
  color: var(--text-main);
  font-size: 1.6rem;
  font-family: 'Roboto';
  box-sizing: border-box;
  overscroll-behavior: none;
  text-decoration: none;
}
body {
  background: var(--bg-body);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.btn {
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 4px;
  padding: 1rem 3rem;
  margin: 5px;
  position: relative;
  display: inline-block;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.btn:hover {
  background-color: var(--primary);
}



.btn .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 24px;
  height: 24px;
  animation: btnLoader__rotate 1s linear infinite;
  transition: .3s;
  opacity: 0;
}
.btn .loader::before, .btn .loader::after {
  content: "";
  background-color: var(--secondary);
  border-radius: 50%;
  position: absolute;
  top: 0;
  width: 12px;
  aspect-ratio: 1;
  animation: btnLoader__scale 1s infinite ease-in-out;
}
.btn .loader::before {
  top: auto;
  bottom: 0;
  animation-delay: 0.5s;
}
.btn span {
  font-size: inherit;
  color: inherit;
  transition: .3s;
}
.btn.save .loader::before, .btn.save .loader::after {
  background: #fff;
}
.btn.loading .loader {
  opacity: 1;
}
.btn.loading span {
  opacity: 0;
}

@keyframes btnLoader__rotate {
  from {rotate: 0deg}
  to {rotate: 360deg}
}
@keyframes btnLoader__scale {
  0%, 100% {transform: scale(0)}
  50% {transform: scale(1)}
}




.label {
  margin-block: 5px 2px;
  display: block;
  font-size: 1.7rem;
  font-weight: 800;
  color: #ddd;
}
.input-wrapper {
  position: relative;
}
.input-wrapper .showHide {
  position: absolute;
  right: 0;
  top: 50%;
  translate: calc(-50% - 0.1rem) calc(-50% - 0.1rem);
  font-size: 2.5rem;
}
.input-wrapper .error {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 1.3rem;
  color: #f12;
}
.input {
  background: var(--bg-input);
  border: none;
  border-radius: 5px;
  margin-block: 5px;
  padding: 1.2rem;
  display: block;
  width: 100%;
}
textarea.input {
  height: 10rem;
  resize: none;
}
.invalid {
  animation: input_invalid-shake .3s;
  outline: 1px solid #fd210a;
}
@keyframes input_invalid-shake {
  25% {translate:  4px 0}
  50% {translate: -4px 0}
  75% {translate:  4px 0}
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}