@import url('https://fonts.googleapis.com/css?family=ABeeZee|Roboto|Comfortaa|Alegreya Sans SC|Barlow|Albert Sans|Acme|Oxygen Mono');
@import url('https://fonts.cdnfonts.com/css/whitney-2');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');
@import url('./themes.css');

:root {
  --primary: #4790D9;
  --primary-hover: #3a80c2;
  --secondary: #FFAB00;
  --secondary-hover: #faaf02;
  /* For Gradient thing */
  --g1: rgb(69, 149, 225);
  --g2: rgb(255, 171, 0);
  /* Checkbox Sliders*/
  --slider-width: 5rem;
  
  --text-main: hsl(250, 0%, 80%);
  --text-dark: hsl(250, 0%, 100%);
  --text-gray: hsl(250, 0%, 50%);
}
body {
  --theme-hue: 250;
  --theme-sat: 0%;

  --bg-hover: hsl(var(--theme-hue), var(--theme-sat), 20%);
  --bg-body: hsl(var(--theme-hue), var(--theme-sat), 15%);
  --bg-sidebar: hsl(var(--theme-hue), var(--theme-sat), 10%);

  --bg-input: hsl(var(--theme-hue), var(--theme-sat), 9%);
  --bd-input: hsl(var(--theme-hue), var(--theme-sat), 19%);

  --bg-drop: hsl(var(--theme-hue), var(--theme-sat), 7%);
  --hr-drop: hsl(var(--theme-hue), var(--theme-sat), 20%);
  
  --bg-modal: hsl(var(--theme-hue), var(--theme-sat), 6%);
  --bd-modal: hsl(var(--theme-hue), var(--theme-sat), 16%);
  --sh-modal: hsl(var(--theme-hue), var(--theme-sat), 0%);
}
html {
  font-size: 62.5%;
  background: var(--bg-body);
}
* {
  color: var(--text-main);
  font-size: 1.6rem;
  font-family: 'Roboto';
  box-sizing: border-box;
  overscroll-behavior: none;
  text-decoration: none;
}
body {
  background: var(--bg-body);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.btn {
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 4px;
  padding: 1rem 3rem;
  margin: 5px;
  position: relative;
  display: inline-block;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.btn:hover {
  background-color: var(--primary);
}
.btn2 {
  border-color: var(--secondary);
  background: var(--secondary);
}
.btn2:hover {
  background: var(--secondary-hover);
}
.btn3 {
  background: var(--primary);
}
.btn3:hover {
  background: var(--primary-hover);
}
.btn.small {
  padding: .5rem 1.5rem;
}
.btn.danger {
  border: 1px solid #fd210a;
  color: #fd210a;
}
.btn.danger:hover {
  background: #fd210a;
  color: white;
  text-decoration: none;
}
.btn.save {
  background: #3ba55d;
  border: none;
  margin: 0;
  color: #fff;
}
.btn.textonly {
  background: transparent;
  border: none;
  padding: 0;
  margin-block: 0;
  color: var(--secondary);
}
.btn.textonly:hover {
  background: transparent;
  border: none;
  color: var(--secondary);
  text-decoration: underline;
}

.btn .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 24px;
  height: 24px;
  animation: btnLoader__rotate 1s linear infinite;
  transition: .3s;
  opacity: 0;
}
.btn .loader::before, .btn .loader::after {
  content: "";
  background-color: var(--secondary);
  border-radius: 50%;
  position: absolute;
  top: 0;
  width: 12px;
  aspect-ratio: 1;
  animation: btnLoader__scale 1s infinite ease-in-out;
}
.btn .loader::before {
  top: auto;
  bottom: 0;
  animation-delay: 0.5s;
}
.btn span {
  font-size: inherit;
  color: inherit;
  transition: .3s;
}
.btn.save .loader::before, .btn.save .loader::after {
  background: #fff;
}
.btn.loading .loader {
  opacity: 1;
}
.btn.loading span {
  opacity: 0;
}

@keyframes btnLoader__rotate {
  from {rotate: 0deg}
  to {rotate: 360deg}
}
@keyframes btnLoader__scale {
  0%, 100% {transform: scale(0)}
  50% {transform: scale(1)}
}

.grid {
  display: grid;
  gap: 1rem;
}
.grid.col2.even {
  grid-template-columns: repeat(2, 1fr);
}
.grid.col2.p25-75 {
  grid-template-columns: 1fr 3fr;
}
.grid.col2.p75-25 {
  grid-template-columns: 3fr 1fr;
}
.grid.col3.even {
  grid-template-columns: repeat(3, 1fr);
}
.grid.col3.p33-66 {
  grid-template-columns: 1fr 2fr;
}
.grid.col3.p66-33 {
  grid-template-columns: 2fr 1fr;
}
.grid.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.col5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.col6 {
  grid-template-columns: repeat(6, 1fr);
}
.flex-container {
  display: flex;
}

.label {
  margin-block: 5px 2px;
  display: block;
  font-size: 1.7rem;
  font-weight: 800;
  color: #ddd;
}
.input-wrapper {
  position: relative;
}
.input-wrapper .showHide {
  position: absolute;
  right: 0;
  top: 50%;
  translate: calc(-50% - 0.1rem) calc(-50% - 0.1rem);
  font-size: 2.5rem;
}
.input-wrapper .error {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 1.3rem;
  color: #f12;
}
.input {
  background: var(--bg-input);
  border: none;
  border-radius: 5px;
  margin-block: 5px;
  padding: 1.2rem;
  display: block;
  width: 100%;
}
textarea.input {
  height: 10rem;
  resize: none;
}
.invalid {
  animation: input_invalid-shake .3s;
  outline: 1px solid #fd210a;
}
@keyframes input_invalid-shake {
  25% {translate:  4px 0}
  50% {translate: -4px 0}
  75% {translate:  4px 0}
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
.betaFeature, .alphaFeature {
  position: relative;
  display: flex;
}
.betaFeature::after, .alphaFeature::after {
  border-radius: 50px;
  margin: auto 5px auto;
  padding-block: 3px;
  display: inline-block;
  width: 55px;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Comfortaa';
}
.betaFeature::after {
  content: "BETA";
  background: rgba(88, 101, 242, .37);
  color: rgb(88, 101, 242);
}
.alphaFeature::after {
  content: "ALPHA";
  background: rgba(249, 151, 26, 0.37);
  width: 65px;
  color: rgb(249, 151, 26);
}
.dropdown {
  position: relative;
}
.dropdown i.bx-chevron-down {
  transition: .3s;
}
.dropdown.show i.bx-chevron-down {
  rotate: 180deg;
}
.dropMenu {
  background: var(--bg-drop);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 0px;
  padding: 10px;
  position: absolute;
  right: 0;
  min-width: 160px;
  z-index: 6;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
  transform: skewX(3deg) translate(10px, 30px);
}
.dropMenu .title {
  padding-inline: 5px;
  margin-block: 2px;
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 100;
  font-family: 'Whitney';
  color: var(--text-gray);
}
.dropMenu .link {
  background: transparent;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 8px 5px;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  font-family: 'Comfortaa';
  transition: .3s;
  cursor: pointer;
}
.dropMenu .link:hover, .dropMenu .link:focus {
  background: var(--bg-hover);
  color: var(--text-dark);
}
.dropMenu .link.alert {
  padding-right: 60px;
  position: relative;
}
.dropMenu .link.alert[data-alert] {
  --alert-color: 255, 100, 0;
}
.dropMenu .link.alert[data-alert="New"] {
  --alert-color: 67, 221, 67;
}
.dropMenu .link.alert[data-alert="Beta"] {
  --alert-color: 88, 101, 242;
}
.dropMenu .link.alert::after {
  content: attr(data-alert);
  background: rgba(var(--alert-color), .37);
  border-radius: 50px;
  padding-block: 3px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 45px;
  text-align: center;
  color: rgb(var(--alert-color));
}
.dropMenu hr {
  background: var(--hr-drop);
  border: none;
  border-radius: 2px;
  margin-block: 4px;
  height: 1px;
}
.dropdown.show .dropMenu {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.4);
}
.modal .content {
  background: var(--bg-modal);
  border: 1px solid var(--bd-modal);
  box-shadow: 0 4px 8px 0 var(--sh-modal), 0 6px 20px 0 var(--sh-mdoal);
  border-radius: 2px;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 80%;
  animation: animatetop .4s;
}
.modal .head {
  border: none;
  border-bottom: 1px solid var(--primary);
  margin: 5px 0;
  padding: 0 5px;
  display: flex;
  width: 100%;
}
.modal .title {
  margin: 0;
  font-size: 35px;
}
.modal .exit {
  background: transparent;
  border: none;
  margin: auto 0 auto auto;
  font-family: 'Comfortaa';
  font-size: 80px;
  line-height: 0.5;
  cursor: pointer;
}
.modal hr {
  border: 1px solid var(--secondary);
}
@keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:10%; opacity:1}
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:10%; opacity:1}
}
@media screen and (max-width: 850px) {
  .modal .content {
    width: 70% !important;
  }
}
@media screen and (max-width: 700px) {
  .modal .content {
    width: 80% !important;
  }
}
@media screen and (max-width: 600px) {
  .modal .content {
    width: 90% !important;
  }
}
#popups {
  position: fixed;
  z-index: 200000000000;
  right: 5px;
  bottom: 5px;
}
#popups .popup {
  background: var(--popup-background);
  border-radius: 4px;
  margin: 5px 0;
  min-width: 270px;
  font-family: 'Whitney';
  font-size: 20px;
  color: #fff;
  animation: popupShow 0.5s, popupHide 0.5s 2.5s;
  transition: .5s;
}
#popups .popup::before {
  content: var(--popup-icon-content, '');
  margin-inline: 5px;
  font-family: boxicons !important;
  font-size: 22px;
  color: var(--popup-icon-color);
  vertical-align: middle;
}
#popups .popup::after {
  content: '';
  background: var(--popup-slider, var(--primary));
  border-bottom-left-radius: inherit;
  display: block;
  height: 4px;
  animation: popupBar 3s;
}
#popups .popup.success {
  --popup-background: #40F249;
  --popup-icon-content: "\ea46";
  --popup-icon-color: #33C614;
  --popup-slider: #33C614;
}
#popups .popup.danger {
  --popup-background: #F24940;
  --popup-icon-content: "\eac7";
  --popup-icon-color: #EF1B10;
  --popup-slider: #EF1B10;
}
#popups .popup.info {
  --popup-background: #405BF2;
  --popup-icon-content: "\eb21";
  --popup-icon-color: #1132EE;
  --popup-slider: #1132EE;
}
@keyframes popupShow {
  from {translate: 400px 0; opacity: 0;}
  to {translate: 0 0; opacity: 1;}
}
@keyframes popupBar {
  from {width: 100%}
  to {width: 0%}
}
@keyframes popupHide {
  from {opacity: 1;}
  to {opacity: 0;}
}

.switch {
  margin-block: 4px;
  vertical-align: middle;
  display: inline-block;
  width: var(--slider-width);
  aspect-ratio: 2;
}
.switch input:is([type="radio"], [type="checkbox"]) { 
  position: absolute;
  opacity: 0;
}
.slider {
  background: var(--bg-input);
  border-radius: 2px;
  position: relative;
  display: block;
  width: inherit;
  aspect-ratio: 2/1;
  cursor: pointer;
  transition: .2s;
}
.slider::before {
  content: '';
  background: var(--bd-input);
  border-radius: inherit;
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  width: calc(calc(var(--slider-width) / 2) - 1rem);
  aspect-ratio: 1;
  transition: .2s;
}
.switch input:is([type="radio"], [type="checkbox"]):focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}
.switch input:is([type="radio"], [type="checkbox"]):checked + .slider {
  background-color: var(--primary);
}
.switch input:is([type="radio"], [type="checkbox"]):checked + .slider::before {
  translate: calc(var(--slider-width) / 2);
}

.switch + label {
  display: inline-block;
  margin: 0 5px;
}

header {
  background: #0f62ad;
  border-bottom: #3A75C4 5px solid;
  border-top: #3A75C4 5px solid;
  border-radius: 5px;
  margin: 5px;
  display: flex;
}
header .logo {
  width: 6rem;
  vertical-align: middle;
}
header .nav-item {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: 'ABeeZee';
  background: transparent;
  padding: 10px;
  transition: 0.2s;
  color: white;
}
header .nav-item, header > .dropdown:not(#userDropdown) {
  height: fit-content;
  margin: auto 5px;
}
header .nav-item i {
  color: white;
}
header .nav-item:nth-of-type(3), #navDropdown a:nth-of-type(4) {
  display: none;
}
header .nav-item:not(.login):hover {
  background: #3A75C4;
}
header .login {
  border: 1px solid var(--secondary);
  margin: auto 10px auto auto;
  color: var(--secondary);
}
header .login:hover {
  background: var(--secondary);
  color: white;
}
header .dropdown {
  display: inline-block;
}
header #navIcon {
  border-radius: 1rem;
  vertical-align: middle;
  height: 4.5rem;
  aspect-ratio: 1;
}
header #navIcon + i {
  margin-left: -9px;
  vertical-align: middle;
  font-size: 31px;
}
body:not(.has-sidebar) header #userDropdown {
  margin: auto 0 auto auto;
}
header .mobile-only {
  display: none;
}
#userDropdown .dropMenu img {
  display: inline;
  vertical-align: middle;
  padding: 2px;
  width: 2.2rem;
}
@media screen and (max-width: 650px) {
  header button:not(.mobile-only):not(:nth-of-type(1)):not(:nth-of-type(2)) {
    display: none;
  }
  #navDropdown a:first-of-type, #navDropdown a:nth-of-type(2), #navDropdown a:nth-of-type(3) {
    display: none;
  }
  header .mobile-only {
    display: block;
  }
  header .login {
    display: block !important;
  }
}
@media screen and (max-width: 400px) {
  header button:not(.mobile-only) {
    display: none;
  }
  #navDropdown a {
    display: block;
  }
  header .login {
    display: block !important;
  }
}
footer {
  background: #0f62ad;
  border-bottom: #3A75C4 5px solid;
  border-top: #3A75C4 7px solid;
  border-radius: 5px;
  overflow: auto;
  display: flex;
  text-align: center;
  margin: auto auto 0 auto;
  bottom: 0;
  width: calc(100% - 10px);
  padding: 5px;
}
footer .item {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  grid-auto-flow: row;
}
footer .item h6 {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'Whitney';
  text-transform: uppercase;
  grid-column: span 2;
}
footer .item a {
  font-size: 1.5rem;
  color: white;
  font-family: 'ABeeZee';
}
@media screen and (max-width: 770px) {
  footer .item::before {
    font-size: 2rem;
    display: block;
  }
  footer .item a {
    display: block;
  }
  footer .item {
    display: block;
    padding: 0 2px;
  }
}
@media screen and (max-width: 600px) {
  footer .item::before {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 550px) {
  footer .item a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  footer .item::before {
    font-size: 2.4rem;
  }
  footer .item a {
    font-size: 1.6rem;
  }
  footer .item {
    width: 100%;
    margin: 5px 0;
    display: grid;
    grid-template-rows: auto auto auto;
  }
  footer {
    display: block;
  }
}
@media screen and (max-width: 350px) {
  footer .item {
    display: block;
  }
  footer .item::before {
    font-size: 1.8rem;
  }
  footer .item a {
    font-size: 1.3rem;
  }
}

body.has-sidebar {
  margin-left: 25rem;
}
body.has-sidebar header {
  background: transparent;
  border: none;
  justify-content: flex-end;
}
body.has-sidebar header .logo {
  display: none;
}
body.has-sidebar header #navIcon {
  height: 4rem;
}
body.has-sidebar footer {
  background: transparent;
  border: none;
  border-top: 1px solid var(--text-gray);
  border-radius: 0;
}
body.has-sidebar .container {
  width: 100%;
  margin: 0;
}

body.has-sidebar aside.sidebar {
  background: var(--bg-sidebar);
  padding: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 25rem;
}
aside.sidebar .top {
  margin-bottom: 15px;
  display: flex;
}
aside.sidebar h2.title {
  border-bottom: 1px solid var(--text-gray);
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.4rem;
  font-family: 'Whitney';
  overflow: hidden;
}
aside.sidebar .item {
  background: transparent;
  border: none;
  border-left: 5px solid transparent;
  border-radius: 5px;
  margin: 2px 0;
  padding: 4px 2px;
  display: block;
  width: 100%;
  text-align: left;
}
aside.sidebar .item i {
  vertical-align: middle;
  font-size: 1.8rem;
  color: var(--text-gray);
}
aside.sidebar .item.selected {
  border-left-color: var(--primary);
  color: var(--primary);
}
aside.sidebar .item:is(:hover, :focus) {
  background: var(--bg-hover);
}
aside.sidebar hr {
  background: var(--text-gray);
  height: 1px;
  margin: 3px;
  border: none;
}
aside.sidebar .bottom {
  margin-top: auto;
}
#pageLoader {
  position: fixed;
  z-index: 1000;
  background: var(--bg-body);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#pageLoader::after {
  animation: 1s ease-in-out pageLoader infinite;
  position: absolute;
  content: "";
  height: 10rem;
  aspect-ratio: 1;
  border-radius: 10rem;
  border: .4rem solid transparent;
  border-top-color: var(--primary);
  border-bottom-color: var(--secondary);
  top: 50vh;
  left: 50%;
  translate: -50% -50%;
}

@keyframes pageLoader {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
/* Banned Page CSS */
body.account-banned {
  margin: auto;
  height: 100%;
  width: 90%;
  text-align: center;
}
.account-banned .title {
  margin-top: 10vh;
  margin-bottom: 0px;
  font-family: 'Acme';
  font-size: 40px;
}
.account-banned hr {
  margin: .5rem auto;
  width: 40%;
}
.account-banned ul {
  margin: 0;
}
.account-banned a, .account-banned li::marker {
  color: var(--primary);
}
.account-banned b {
  color: var(--secondary);
}
.account-banned .details {
  margin: 0;
  line-height: 1.5;
  font-family: 'Whitney';
  color: #ccc;
}
.account-banned .details:first-line {
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: #fff;
}
.account-banned .subtitle {
  font-size: 1.8rem;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Alata';
  margin: .5rem 0;
}
.account-banned .duration {
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Oxygen Mono';
}
.account-banned .enddate {
  font-size: 1.4rem;
  margin: 5px;
  color: gray;
}
/* Maintence */
.top-notice {
  background: #f25e5e;
  border: 2px solid #EE2F2F;
  border-radius: .5rem;
  padding: .25rem .1rem;
  margin: .5rem .5rem 0 .5rem;
  text-align: center;
  font-family: 'Whitney';
  font-size: 1.8rem;
}